name: Deploying express app

on:
  push:
    branches:
      master


permissions:
        id-token: write
        contents: read
jobs:
  ec2-creation:
    runs-on: ubuntu-latest
    steps:
     - name: Loading repo
       uses: actions/checkout@v4
    
     - name: Assuming role
       uses: aws-actions/configure-aws-credentials@v4
       with:
        role-to-assume: arn:aws:iam::891377368653:role/ec2-access-to-github
        aws-region: ap-south-1

     - name: Creating EC2
       run: |
         INSTANCE_ID=$(
         aws ec2 run-instances \
         --count 1\
         --security-group-ids ${{secrets.GITHUB_AWS_SECURITY_GROUP_ID}}\
         --image-id ${{secrets.AWS_IMG_ID}}\
         --instance-type t2.micro\
         --key-name mypair\
         --query 'Instances[0].InstanceId'\
         --output text
         
         
         )
         aws ec2 wait instance-running --instance-ids $INSTANCE_ID
         PUBLIC_IP=$(
         aws ec2 describe-instances\
         --instance-ids $INSTANCE_ID\
         --query 'Reservations[0].Instances[0].PublicIpAddress'\
         --output text 

         )
        
         echo "PUBLIC_IP=$PUBLIC_IP">>$GITHUB_ENV
         sleep 30
     - name: Connecting to EC2 and deploying app
       uses: appleboy/ssh-action@v0.1.10
       with:
        host: ${{env.PUBLIC_IP}}
        username: ubuntu
        key: ${{secrets.EC2_SSH_KEY}}
        script: |
          sudo apt update -y
          sudo apt upgrade -y 
          sudo apt install docker.io -y
          sudo systemctl start docker
          sudo systemctl enable docker
          sudo docker run -d -p 4000:4000 --name express_app sreyansh1/ci-cd-repo:latest





      
       
  
