name: deploying to EC2
on:
   push:
    branches:
        master


jobs:
    image-pushing:
        runs-on: ubuntu-latest
        steps:
            - name: Loading repo
              uses: actions/checkout@v5

            - name: Installing node 
              uses: actions/setup-node@v3
              with:
                node-version: 18

            - name: Installing dependencies
              run: npm install

            - name: Build Docker
              uses: docker/setup-buildx-action@v3

            - name: Logging to docker hub
              uses: docker/login-action@v3
              with: 
                username: ${{secrets.DOCKER_USERNAME}}
                password: ${{secrets.DOCKER_PASSWORD}}
            
            - name: Pushing to docker hub
              uses: docker/build-push-action@v6
              with:
                context: .
                push: true
                tags: ${{secrets.DOCKER_USERNAME}}/ci-cd-repo:latest

            - name: Logging to AWS
              uses: aws-actions/configure-aws-credentials@v4
              with:
                aws-access-key-id: ${{secrets.AWS_ACCESS_KEY_ID}}
                aws-secret-access-key: ${{secrets.AWS_SECRET_ACCESS_KEY}}
                aws-region: ap-south-1

            - name: Creating EC2
              run: |
                aws ec2 run-instances \
                --image-id ami-019715e0d74f695be \
                --instance-type t2.micro \
                --count 1 \
                --security-group-ids sg-062a6b166596e2bc1 \
                --key-name mykey
    deploy:
        needs: image-pushing
        runs-on: ubuntu-latest
        steps:
          - name: SSH into EC2
            uses: appleboy/ssh-action@v0.1.10
            with:
              host: ${{secrets.EC2_HOST}}
              username: ${{secrets.EC2_USER}}
              key: ${{secrets.EC2_SSH_KEY}}
              script: |
                docker pull ${{secrets.DOCKER_USERNAME}}/ci-cd-repo:latest
                docker run -pd 4000:4000 --name c1 ${{secrets.DOCKER_USERNAME}}/ci-cd-repo:latest



        


            
            


              



            
