name: deploying to EC2
on:
   push:
    branches:
        master


jobs:
    image-pushing:
        runs-on: ubuntu-latest
        steps:
           

            - name: Logging to AWS
              uses: aws-actions/configure-aws-credentials@v4
              with:
                aws-access-key-id: ${{secrets.AWS_ACCESS_KEY_ID}}
                aws-secret-access-key: ${{secrets.AWS_SECRET_ACCESS_KEY}}
                aws-region: ap-south-1

            # - name: Creating EC2
            #   run: |
            #     aws ec2 run-instances \
            #     --image-id ami-019715e0d74f695be \
            #     --instance-type t2.micro \
            #     --count 1 \
            #     --security-group-ids sg-062a6b166596e2bc1 \
            #     --key-name mykey
    deploy:
        needs: image-pushing
        runs-on: ubuntu-latest
        steps:
          
            
               
          - name: SSH into EC2
            uses: appleboy/ssh-action@v0.1.10
            with:
              host: ${{secrets.EC2_HOST}}
              username: ${{secrets.EC2_USER}}
              key: ${{secrets.EC2_SSH_KEY}}
              script: |
                sudo apt update -y
                sudo apt install docker.io -y
                sudo service docker start
                sudo docker pull ${{secrets.DOCKER_USERNAME}}/ci-cd-repo:latest
                sudo docker run  -p 4000:4000 --name c1 ${{secrets.DOCKER_USERNAME}}/ci-cd-repo:latest



        


            
            


              



            
